.intro{
}

.subtle{
	color:rgba(0,0,50,.5);
}
.sample{
	background-color: #000032;
	height:100vh;
}

.ui.segment.sign-in{
	background-color: white;
	// margin:auto;
}


.align-center{
	display: flex !important;
	align-items: center !important;
	height: 100vh;
	margin-top: -50px !important;
}

.justify-right{
	display: flex;
	justify-content: flex-end;
}
